<%= form_with(model: place_rating, local: true) do |form| %>
  <% if place_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place_rating.errors.count, "error") %> prohibited this place_rating from being saved:</h2>

      <ul>
      <% place_rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
